body {
  font-family: "Montserrat", sans-serif;
}
section {
  background-color: rgb(255, 255, 255);
}

.hero {
  background-color: rgb(53, 36, 70);
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: rgb(65, 177, 197);
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  /* width: 200px; */
  text-decoration: none;
}

h1 {
  font-size: 100px;
  margin: 0px;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0px;
  font-size: 45px;
  font-weight: 400;
}

.subtext {
  font-size: 12px;
  font-weight: 300px;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 50px;
  margin-bottom: 500px;
}

.button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(65, 177, 197);
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(135, 196, 207);
}

.button:active {
  background-color: gray;
  color: rgb(85, 83, 83);
}

.socials {
  padding-bottom: 500px;
}

.logo {
  height: 250px;
  margin: 70px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 400px;
  border-radius: 50px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(53, 36, 70);
  margin: 18px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 230px;
  border-radius: 10px;
}

.project-imagecalc {
  margin-top: 25px;
  width: 170px;
  border-radius: 10px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: rgb(65, 177, 197);
  font: bold;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: rgb(72, 49, 95);
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(72, 49, 95);
  }

  .logo {
    display: none;
  }
}
